@import "tailwindcss";
@import "flowbite/src/themes/default"; 
/* @plugin "flowbite/plugin"; */
/* @source "../node_modules/flowbite"; */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Bebas+Neue&family=Gulzar&family=Lalezar&family=Mirza:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&display=swap');

body{
    font-family: "Rubik";
background: linear-gradient(90deg,rgb(255, 255, 255) 0%, rgb(227, 225, 225) 100%);
}
header{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
background: linear-gradient(90deg,rgb(240, 239, 239) 0%, rgb(218, 217, 217) 100%);
}
footer{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
background: linear-gradient(90deg,rgb(240, 239, 239) 0%, rgb(218, 217, 217) 100%);
}
.header-bottom{
  width: 100%;
  /* height: 80vh; کل ارتفاع صفحه */
  object-fit: cover; /* عکس رو کامل می‌کنه */
  object-position: bottom; /* وسط چین */
  display: block; /* حذف فاصله اضافی */

}
button:hover{
    cursor: pointer;
}