html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {

  /* Center slide text vertically */
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}