

.mySwiper .swiper-pagination {

  /* پایین بیاد */

  transform: translateX(-0%) translateY(59%);
}
@media (max-width: 590px) {
  .mySwiper .swiper-pagination {
    width: fit-content;
  /* پایین بیاد */

  transform: translateX(0%) translateY(50%);
}
}
/* رنگ نقطه‌های معمولی */
.mySwiper .swiper-pagination-bullet {
  background-color: #095025; /* سبز */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #2d302d; /* سبز تیره */
}